<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Expense Tracker</h1>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">Income</a></li>
                    <li><a href="">Expenses</a></li>
                </ul>
            </nav>
            <div class="user-profile">
                <span class="username"><%= locals.user.nickname %></span>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <section class="dashboard-summary">
            
        </section>

        <!-- More content can go here -->
    </main>

    <script src="./js/dashboard.js"></script>
</body>
</html>