<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="./css/expenses.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Expense Tracker</h1>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/income">Income</a></li>
                    <li><a href="/expenses">Expenses</a></li>
                </ul>
            </nav>
            <div class="user-profile">
                <div class="dropdown">
                    <button id="currentCurrency" class="dropbtn"><%= locals.currency %></button>
                    <div class="dropdown-content">
                        <a id="USD">USD</a>
                        <a id="AUD">AUD</a>
                        <a id="EUR">EUR</a>
                        <a id="GBP">GBP</a>
                        <a id="INR">INR</a>
                    </div>
                </div>
                <span class="logout"><a href="/logout">Logout</a></span>
                <div class="hamburger-menu" id="hamburgerMenu">
                    &#9776;
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-nav-menu" id="mobileNavMenu">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/income">Income</a></li>
            <li><a href="/expenses">Expenses</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <main>
        <section class="dashboard-container">
            <section class="dashboard-summary">
                <div class="total-expenses-label">Total expenses</div>
                <div id="totalExpensesAmount" class="total-expenses-amount"></div>
                <div class="pie-chart-container">
                    <canvas class="expenses-pie-chart" id="expensesChart" width="100" height="100"></canvas>
                </div>
            </section>
        </section>

        <section class="details-container">
            <section class="expenses-container">
                <h2>Expenses</h2>
                <table class="expenses-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th class="description">Description</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="expenseTableBody" class="expense-table-body">
                    </tbody>
                </table>
            </section>
            <section class="monthly-budget">
                <h2>Monthly Budget</h2>
                <h3 class="monthly-budget-amount" id="monthlyBudget"></h3>
                <div class="button-container">
                    <button class="button" id="openExpensesModalButton">Add Expense</button>
                    <button class="button" id="openBudgetModalButton">Change Monthly Budget</button>   
                    <button class="button" id="exportData">Export Expense Data</button>
                </div>
            </section>
        </section>

    </main>

    <div id="budgetModal" class="modal">
        <div class="modal-content">
            <span id="closeBudgetModal" class="close">&times;</span>
            <h2 class="modal-title">Change Monthly Budget</h2>
            <form id="budgetForm">
                <label class="modal-label" for="budget">New Budget:</label>
                <input class="modal-input" type="number" id="budget" name="budget" required>
                <button type="submit">Update Budget</button>
            </form>
        </div>
    </div>

    <div id="expensesModal" class="modal">
        <div class="modal-content">
            <span id="closeExpensesModal" class="close">&times;</span>
            <h2 class="modal-title">Add Expense</h2>
            <form id="expensesForm">
                <label class="modal-label" for="category">Category:</label>
                <select class="modal-input" id="category" name="category" required> 'Rent', 'Groceries', 'Utilities', 'Entertainment', 'Leisure', 'Travel', 'Savings', 'Debt Repayment', 'Healthcare', 'Transportation', 'Miscellaneous'
                    <option value="">Select a category</option>
                    <option value="Housing">Housing</option>
                    <option value="Groceries">Groceries</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Travel">Travel</option>
                    <option value="Savings">Savings</option>
                    <option value="Debt Repayment">Debt Repayment</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select><br>
    
                <label class="modal-label" for="description">Description:</label>
                <input class="modal-input" type="text" id="description" name="description" maxlength="100" required><br><br>
    
                <label class="modal-label" for="amount">Amount:</label>
                <input class="modal-input" type="number" id="amount" name="amount" step="0.01" required><br><br>
    
                <button type="submit">Add Expense</button>
            </form>
        </div>
    </div>

    <div id="notification" class="notification hidden">
        <span class="notification-message">Budget successfully updated!</span>
    </div>

    <script src="./js/expenses.js"></script>
    <script src="./js/expenseModals.js"></script>
</body>
</html>