<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/authentication.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
        <div>
        <form action="" method="POST">
            <div class="container">
                <h1 class="title">Login</h1>
                <label class="email-label" for="uname">Email</label>
                <input class="email-input" type="text" placeholder="Enter Email" name="email" required>
        
                <label class="password-label" for="psw">Password</label>
                <input type="password" placeholder="Enter Password" name="password" required>
        
                <button type="submit">Login</button>
        
                <div class="forgot-password"><a href="/forgot-password">Forgot password?</a></div>
            </div>
        </form>

        <div id="message-box" class="message-box">
            <p id="message"></p>
        </div>
        <script src="js/login.js" async defer></script>
        </div>
        </main>
    </body>
</html>

