<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/authentication.css">
    </head>
    <body>
        <main>
        <div>
        <form action="" method="POST">
            <div class="container">
                <h1 class="title">Register</h1>
                <label for="email"><b>Email</b></label>
                <input id="emailBox" type="text" placeholder="Enter Email" name="email" maxlength="150" required>

                <label for="nickName"><b>Nickname</b></label>
                <input id="nickNameBox" type="text" placeholder="Enter Nickname" name="nickname" maxlength="16" required>
        
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" maxlength="150" required>
        
                <button type="submit">Register</button>
            </div>
        </form>
        <div id="message-box" class="message-box">
            <p id="message"></p>
        </div>        
        </div>
        <script src="js/register.js" async defer></script>
        </main>
    </body>
</html>